*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(237,237,237);
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container{
    min-width: 1024px;
}
.header-1{

}

.main-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid rgb(102, 102, 102);*/
    border-bottom: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color:rgb(250, 250, 250);
}

.main-2{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid rgb(102, 102, 102);*/
    border-bottom: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color:rgb(250, 250, 250);
}

.main-1>h2{
    font-size: 20px;
    margin-left: 10px;
    color: #3b3c3f;
}

.main-2>h2{
    font-size: 20px;
    margin-left: 10px;
    color: #3b3c3f;
}


.main-1>svg{
    margin-left: 10px;
    width: 1.5em; height: 1.5em;
}



.header-1>h1{
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
}

.main-1-02{
    background-color:rgb(250, 250, 250);
    border:1px solid rgb(228 228 228);
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.button-1 > button{
    outline: none;
    width: 80px;height:50px;
    background:#e26161;
    border-radius: 6px;
    border: none;
    /*transition: all .5s;*/

}
.button-1 > button:hover{
    background:#d92b2b;
    cursor:pointer;
}
.delete-1.start1{
    animation:1.5s ease-in delete1;
}
.delete-2.start2{
    animation:1.5s ease-in delete2;
}
.delete-3.start3{
    animation:1.5s ease-in delete3;
}
.delete-4.start4 {
    animation: 1.5s ease-in delete4;
}

@keyframes delete1 {
    0%{
        transform: rotateX(0deg)translateZ(0px);
    }
    40%{
        /*transform: rotateX(-60deg)translateZ(20px);*/
        /*transform: translateX(50px);*/
        /*transform: translateY(45px);*/
        transform: rotateY(-60deg)translateZ(35px);
    }
    100%{
        transform: rotateX(0deg)translateZ(0px);
    }
}

@keyframes delete2 {
    0%{
        transform: rotateX(0deg)translateZ(0px);
    }
    40%{
        transform: rotateX(-60deg)translateZ(20px);
        /*transform: translateX(50px);*/
        /*transform: translateY(45px);*/
        /*transform: rotateY(-60deg)translateZ(35px);*/
    }
    100%{
        transform: rotateX(0deg)translateZ(0px);
    }
}

@keyframes delete3 {
    0%{
        transform: rotateX(0deg)translateZ(0px);
    }
    40%{
        /*transform: rotateX(-60deg)translateZ(20px);*/
        transform: translateX(50px);
        /*transform: translateY(45px);*/
        /*transform: rotateY(-60deg)translateZ(35px);*/
    }
    100%{
        transform: rotateX(0deg)translateZ(0px);
    }
}

@keyframes delete4 {
    0%{
        transform: rotateX(0deg)translateZ(0px);
    }
    40%{
        /*transform: rotateX(-60deg)translateZ(20px);*/
        /*transform: translateX(50px);*/
        transform: translateY(40px);
        /*transform: rotateY(-60deg)translateZ(35px);*/
    }
    100%{
        transform: rotateX(0deg)translateZ(0px);
    }
}

.main-1-03{
    width: 2.1em;
    height: 2.1em;
}

.button-1{
    display: inline-block;
    perspective:140px;
}

.button-1-1{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    width: 80px;
    height:50px;
    z-index: -1;
    background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
    box-shadow: 1px 1px 5px #a1a1a1 inset;
}

.ripple{
    margin-left: 20px;
    height: 30px;
    width: 90px;
    background: url("./img/ripple.png");
    background-position-x: center;
    background-position-y: center;
}

.ripple>img{
    border: 1px solid red;
}

.ripple-1{
    width:80px;
    height:36px;
    visibility:visible;
    font-size:14px;
    font-weight:500;
    color:rgb(255, 255, 255);
    text-align:center;
    background-color:rgb(26, 115, 232);
    background-image:none;
    border-color:rgb(255, 255, 255);
    border-style:none;
    border-radius: 3px;
    cursor:pointer;
    transition: all .5s;
    position: relative;
    z-index:0;
    overflow: hidden;
}
.ripple-1:hover{
    box-shadow: 0 1px 2px 0 rgba(26,115,232,0.451), 0 1px 3px 1px rgba(26,115,232,0.302);
    background-color: #297be6;
    outline: 1px solid transparent;
    border: none;
}
.ripple-1>span{
    line-height: 36px;
}

.ripple-1-1{
    position: absolute;
    top: -82px;
    left: -59px;
    width: 200px;
    height: 200px;
    background: rgba(232,232,232,0);
    z-index: -1;
    border-radius: 70%;
}

.ripple-1-1.active{
    animation: 1.2s active linear;
}
@keyframes active {
   0%{
       transform: scale(0);
       background: rgba(232,232,232,0);
   }
    50%{
        transform: scale(.8);
        background: rgba(232,232,232,.3);
    }
    100%{
        transform: scale(1);
        background: rgba(232,232,232,0);
    }
}



.ripple-1-2.active1{
    transform: scale(4);
    transition: all .8s;
}

.ripple-1-2{
    position: absolute;
    top:-30px;
    left:-10px;
    width:200px;
    height:200px;
    z-index: -1;
    background: rgba(232,232,232,.1);
    transform: scale(0);
    border-radius: 50%;
}


















