*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(237,237,237);
}

.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.container{
    min-width: 1024px;
}
.header-1{

}

.main-1{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid rgb(102, 102, 102);*/
    border-bottom: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 15px 0;
    background-color:rgb(250, 250, 250);
}

.main-1>h2{
    font-size: 20px;
    margin-left: 10px;
    color: #3b3c3f;
}
.main-1>svg{
    margin-left: 10px;
    width: 1.5em; height: 1.5em;
}

.header-1>h1{
    font-size: 16px;
    padding: 20px 0;
    text-align: center;
    color: white;
    background-image: linear-gradient(90deg,#222325,#3b3c3f,#222325);
}

.main-1-02{
    background-color:rgb(250, 250, 250);
    border:1px solid rgb(228 228 228);
    height: 500px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 20px 40px;
}
.main-1-02-demo{
    position: relative;
    height: 380px;
    background:darkgrey;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes content {
    0%{
        
    }
    100%{
        transform:translateX(-450px)translateY(240px)scale(0);
        visibility: hidden;
    }
}

.button-1 > button{
    outline: none;
    width: 80px;height:50px;
    background:#e26161;
    border-radius: 6px;
    border: none;
    /*transition: all .5s;*/

}

.button-1 > button:hover{
    background:#d92b2b;
    cursor:pointer;
}

.button-1 > button:active{
    background:#d92b2b;
    cursor:pointer;
    /*-webkit-transform: rotateX(60deg)translateZ(20px);*/
}
.delete-1.start{
    animation:1.5s ease-in delete;
}
.main-1-02-demo.start1{
    animation: 1s ease-in content;
}

@keyframes delete {
    0%{
        transform: rotateX(0deg)translateZ(0px);
    }
    40%{
        transform: rotateX(-60deg)translateZ(20px);
    }
    100%{
        transform: rotateX(0deg)translateZ(0px);
    }
}

.main-1-03{
    width: 2.1em;
    height: 2.1em;
}

.button-1{
    display: inline-block;
    perspective:140px;
    margin-top: 20px;
}

.button-1-1{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
    width: 80px;
    height:50px;
    z-index: -1;
    background: #3f3f3f;
    box-shadow:inset 0px 15px 15px -30px #000;
}
























